.string,
#tabs .row{
  display: flex;
  align-items: center;
  justify-content: center;
}

#tabs .item{
  text-align: center;
  align-self: center;
  width: 30px;
}

.fret{
  width: 150px;
  height: 45px;
  border: 1px solid black;
  text-align: right;
  align-self: flex-end;
  padding-right: 5px;
  padding-top: 5px;
  position: relative;
}
.fret.active{
  background: grey;
}

.fret.f3:before,
.fret.f5:before,
.fret.f7:before,
.fret.f9:before,
.fret.f12:before,
.fret.f12:after{
  content: '';
  display: block;
  border-radius: 100%;
  border: 2px solid black;
  width: 15px;
  height: 15px;
  position: absolute;
  left: calc(50% - 7.5px);
  top: calc(50% - 7.5px);
}

.fret.f12:before{
  top: calc((50% - 7.5px) - 10px);
}
.fret.f12:after{
  top: calc((50% - 7.5px) + 10px);
}